@import "tailwindcss";
#root {
  max-width: -webkit-fill-available;
  /* margin: 0 auto; */
  margin-left: auto;
  margin-right: auto;
  /* padding: 2rem; */
  text-align: center;
  background-color: #f4f4f4;
}
body{
  background-color:#f4f4f4 ;
}
/* My Custom */
.font-design {
  font-family: url("/public//fonts/NeueHaasDisplayBlack.ttf");
  font-weight: 500;
  color: #737A91;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}
.build-resume {
    margin-left: 20px;
    /* width: 147; */
    height: 39;
    gap: 10px;
    border-radius: 8px;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
    background: #0154AA;
    color: white;
}
.search-field::placeholder{
  font-family: url("/public//fonts/NeueHaasDisplayBlack.ttf");
  font-weight: 400;
  color: #737A91;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}
.profile-bg{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.search-field {
  width: 261;
  height: 39;
  gap: 10px;
  border-radius: 8px;
  padding-top: 6px;
  padding-right: 20px;
  padding-bottom: 6px;
  padding-left: 40px;
  background: var(--Color-Text-Field-Text-Field---Search-Box, #F6F9FF);

}
.main-container {
    width: 100%;
  max-width: 1200px;  /* You can adjust this max-width as per your layout */
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
}
.btn-catagory {
  font-family: url("/public//fonts/NeueHaasDisplayBlack.ttf");
  border: 1px solid var(--Color-Text-Text---Body, #737A91);
  /* width: 119; */
  height: 30;
  gap: 10px;
  background-color: white;
  margin-left: 10px;
  border-radius: 5px;
  border-width: 1px;
  padding-top: 3px;
  padding-right: 15px;
  padding-bottom: 3px;
  padding-left: 15px;
  border-color: #737A91;
  color: #737A91;
}
.btn-link {
  color: #0154AA;
  background: transparent;
  font-family: url("/public//fonts/NeueHaasDisplayBlack.ttf");
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
